{% extends 'timetable/base.html' %}

{% block main %}
<h1 class="text-xl font-bold">Enter Instructor Details</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
<script>
    const gradeDropdown = document.querySelector('#id_grade');
    const subjectDropdown = document.querySelector('#id_subjects');

    gradeDropdown.addEventListener('change', (_) => {
        if (gradeDropdown.value) {
            fetch(`/ajax/grades/${gradeDropdown.value}/subjects/`)
                .then(response => response.text())
                .then(data => {
                    subjectDropdown.innerHTML = data;
                });
        } else {
            subjectDropdown.innerHTML = '';
        }
    });
</script>
{% endblock main %}