{% extends 'timetable/base.html' %}

{% block main %}
<h1 class="text-xl font-bold">Rooms</h1>

<button onclick="location.href = '/rooms/create'" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Add Room
</button>

{% for room in object_list %}

<table class="border-collapse border border-slate-400 table-auto">
    <thead>
        <tr>
            <th class="border border-slate-300 font-medium p-4">Room Name</th>
            <th class="border border-slate-300 font-medium p-4"></th>
            <th class="border border-slate-300 font-medium p-4"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="border border-slate-300 p-4">{{room.name}}</td>
            <td class="border border-slate-300 p-4">
                <a class="text-blue-600 hover:underline" href="/rooms/edit/{{room.pk}}">Edit</a>
            </td>
            <td class="border border-slate-300 p-4">
                <a class="text-red-600 hover:underline" href="/rooms/delete/{{room.pk}}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

{% empty %}
    <div>No rooms yet.</div>
{% endfor %}

{% endblock main %}