{% extends 'timetable/base.html' %}

{% block main %}
<h1 class="text-xl font-bold">Schedules</h1>


<table class="border-collapse border border-slate-400 table-auto">
    <thead>
        <tr>
            <th class="border border-slate-300 font-medium p-4">Section</th>
            <th class="border border-slate-300 font-medium p-4"></th>
            <th class="border border-slate-300 font-medium p-4"></th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in object_list %}
        <tr>
            <td class="border border-slate-300 p-4">{{schedule.section}}</td>
            <td class="border border-slate-300 p-4">
                <a class="text-blue-600 hover:underline" href="{% url 'display-schedule' schedule.id %}">View</a>
            </td>
            <td class="border border-slate-300 p-4">
            </td>
        </tr>
        {% empty %}
        <div>No schedules yet.</div>
        {% endfor %}

        {% endblock main %}
    </tbody>
</table>