{% extends 'timetable/base.html' %}

{% block main %}
<h1 class="text-xl font-bold">Sections</h1>

<button onclick="location.href = '/sections/create'" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Add Section
</button>


<table class="border-collapse border border-slate-400 table-auto">
    <thead>
        <tr>
            <th class="border border-slate-300 font-medium p-4">Section Name</th>
            <th class="border border-slate-300 font-medium p-4">Grade</th>
            <th class="border border-slate-300 font-medium p-4">Room</th>
            <th class="border border-slate-300 font-medium p-4"></th>
            <th class="border border-slate-300 font-medium p-4"></th>
        </tr>
    </thead>
    <tbody>
        {% for section in object_list %}
        <tr>
            <td class="border border-slate-300 p-4">{{section.name}}</td>
            <td class="border border-slate-300 p-4">{{section.grade}}</td>
            <td class="border border-slate-300 p-4">{{section.room}}</td>
            <td class="border border-slate-300 p-4">
                <a class="text-blue-600 hover:underline" href="/sections/edit/{{section.pk}}">Edit</a>
            </td>
            <td class="border border-slate-300 p-4">
                <a class="text-red-600 hover:underline" href="/sections/delete/{{section.pk}}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <div>No sections yet.</div>
        {% endfor %}
    </tbody>
</table>



{% endblock main %}