{% extends 'timetable/base.html' %}

{% block main %}
<h1 class="text-xl font-bold">Settings</h1>

<button onclick="location.href = '/settings/edit'" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Edit
</button>

<ul class="list-disc">
    <li>
        <strong>Class Start Time:</strong> {{setting.start_time}}
    </li>
    <li>
        <strong>Class End Time:</strong> {{setting.end_time}}
    </li>
    <li>
        <strong>Period Duration:</strong> {{setting.period_length}}
    </li>
    <li>
        <strong>Period Count Before Lunch:</strong> {{setting.before_lunch_period_count}}
    </li>
    <li>
        <strong>Period Count After Lunch:</strong> {{setting.after_lunch_period_count}}
    </li>
    <li>
        <strong>Lunch Break Start Time:</strong> {{setting.lunch_start_time}}
    </li>
    <li>
        <strong>Lunch Break End Time:</strong> {{setting.lunch_end_time}}
    </li>
    {% for break in setting.breaks.all %}
    <h2>Break {{forloop.counter}}:</h2>
    <li>Start Time: {{break.start_time}}</li>
    <li>End Time Time: {{break.end_time}}</li>
    {% endfor %}
</ul>
{% endblock main %}