{% extends 'timetable/base.html' %}

{% block main %}
<h1 class="text-xl font-bold">Subjects</h1>

<button onclick="location.href = '/subjects/create'" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Add Subject
</button>

{% if object_list %}

<table class="border-collapse border border-slate-400 table-auto">
    <thead>
        <tr>
            <th class="border border-slate-300 font-medium p-4">Subject</th>
            <th class="border border-slate-300 font-medium p-4">Grade</th>
            <th class="border border-slate-300 font-medium p-4">Instructor</th>
            <th class="border border-slate-300 font-medium p-4">  </th>
        </tr>
    </thead>
    <tbody>
        {% for subject in object_list %}

        <tr>
            <td class="border border-slate-300 p-4">{{subject.name}}</td>
            <td class="border border-slate-300 p-4">{{subject.grade}}</td>
            <td class="border border-slate-300 p-4">{{subject.instructor}}</td>
            <td class="border border-slate-300 p-4">
                <a class="text-blue-600 hover:underline" href="/subjects/edit/{{subject.pk}}">Edit</a>
            </td>
            <td class="border border-slate-300 p-4">
                <a class="text-red-600 hover:underline" href="/subjects/delete/{{subject.pk}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <div>No subjects yet.</div>
{% endif %}

{% endblock main %}